@use "../../styles/settings/variables";

.Collapsible {
  background-color: variables.$colorWhite;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 100%;
  @media all and (min-width: 768px) {
    margin-bottom: 1rem;
  }
  ul > li {
    line-height: 1.35em;
  }
}

.Collapsible__contentInner {
  padding: 0.5em 1em 1em 1em;
  border-top: 1px solid variables.$colorGreySecondary;
  color: variables.$colorGreyPrimary;

  &:last-child {
    margin-bottom: 0;
  }
}

.Collapsible__trigger {
  display: block;
  position: relative;
  padding: 1rem;
  background: variables.$colorWhite;
  color: variables.$colorBlack;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &:after {
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }

  &:hover {
    cursor: pointer;
  }
}
