@import "../../styles/settings/variables";

.Collapsible {
  background-color: $colorWhite;
  margin-bottom: 0.5rem;
  border-radius: 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  @media all and (min-width: 768px) {
    width: 80%;
  }
  ul > li {
    line-height: 1.35em;
  }
}

.Collapsible__contentInner {
  padding: 0.5em 1em 1em 1em;
  border-top: 1px solid $colorGreySecondary;

  &:last-child {
    margin-bottom: 0;
  }
}

.Collapsible__trigger {
  display: block;
  position: relative;
  padding: 1rem;
  background: $colorWhite;
  color: $colorBlack;
  font-weight: 600;
  text-decoration: none;
  border-radius: 2px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;

  &:after {
    font-family: "FontAwesome";
    content: "\f107";
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: block;
    transition: transform 300ms;
  }

  &.is-open {
    &:after {
      transform: rotateZ(180deg);
    }
  }

  &.is-disabled {
    opacity: 0.5;
    background-color: grey;
  }

  &:hover {
    cursor: pointer;
  }
}

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease;
}

.CustomTriggerCSS--open {
  background-color: darkslateblue;
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #cbb700;
  color: black;
}
