@import "../settings/variables";

.btnLink {
  background-color: $colorBrand2;
  display: block;
  text-align: center;
  color: $colorGreyPrimary;
  width: 80%;
  border-radius: 25px;
  margin: 36px;
  padding: 6px 32px;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    background-color: $colorTertiary;
  }

  &--secondary {
    background-color: $colorTertiary;
    &:hover {
      background-color: darken($colorTertiary, 15%);
    }
  }

  &--nav {
    background-color: transparent;
    display: inline-block;
    color: $colorGreyPrimary;
  }
}

.iconLink {
  color: $colorGreyPrimary;
  background: transparent;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
}
