@import "../../../styles/settings/variables";

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 0.5fr;
  height: 100vh;
}

.landingHeader {
  display: flex;
  justify-content: center;
  grid-row: 1/3;
}
.landingImg {
  margin-top: 36px;
  width: 80%;
}

.landingMain {
  grid-row: 3/5;
  display: flex;
  flex-direction: column;
}

.landingIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 36px;
  // width: 60%;
  color: $colorWhite;

  &__Heading {
    font-family: $fontTitles;
    font-size: 48px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  &__Subheading {
    font-family: $fontText;
    width: 80%;
    font-size: 14px;
    font-weight: 600;
  }
}

.landingAccess {
  flex-grow: 6;
  background-color: $colorWhite;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;

  &__button {
    background-color: $colorBrand2;
    color: $colorGreyPrimary;
    width: 80%;
    border-radius: 25px;
    margin: 36px;
    padding: 6px 32px;
    text-decoration: none;
    font-weight: 700;
    &:hover {
      background-color: $colorTertiary;
    }
  }
}
