@import "../../styles/settings/variables";

.ageHeader {
  display: flex;
  align-content: space-around;
  align-items: flex-end;
  margin: 2rem 2rem 2rem 2rem;
  color: $colorBlack;
  &__text {
    margin: 0;
    border-left: solid 0.5rem $colorWhite;
    padding-left: 1rem;
    font-weight: 600;
    line-height: 1.35rem;
  }
}

.ageMain {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-items: center;
}
