@use "../../styles/settings/variables";

h3 {
  text-transform: uppercase;
}

span {
  font-weight: 800;
}

.ageHeader {
  display: flex;
  align-content: space-around;
  align-items: flex-end;
  margin: 2rem 1rem;
  color: variables.$colorBlack;
  @media all and (min-width: 768px) {
    width: 80%;
    margin: 0 auto 2rem;
  }
  &__content {
    margin: 0;
    padding-left: 1em;
    line-height: 1.35em;
    font-size: 1.2rem;
    font-weight: 600;
    border-left: solid 0.5rem variables.$colorWhite;
  }
}

.breakLine {
  display: table;
}

.ageMain {
  margin: 0 1rem;
  @media all and (min-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }
}

.ageSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 1em;
  margin: 0;

  li::marker {
    color: variables.$colorTertiary;
    font-size: 2rem;
    font-weight: 800;
  }

  &__passport {
    display: flex;
    flex-wrap: wrap;
  }
}

ul > li {
  padding: 0 0 0.5em 0;
}

li::before {
  position: relative;
  top: 0.5rem;
  display: inline-block;
  background-size: contain;
  width: 2em;
  margin: 0 0.5rem 0.5rem 0;
}

// ICONS IN LIST OF RIGHTS DURING THE PROCESS

.listIcon {
  &__rightTreatedAsMinor::before {
    content: url(../../images/icon-childSupport.svg);
  }
  &__rightLiveInCenter::before {
    content: url(../../images/icon-home.svg);
  }
  &__rightAssistance::before {
    content: url(../../images/icon-hands.svg);
  }
  &__rightHealthCare::before {
    content: url(../../images/icon-doctor.svg);
  }
}

// SECCIÓN DENTRO DEL COLLAPSIBLE DE FISCALÍA

.section {
  margin: 0.5rem 0;
  padding: 1em;
  box-shadow: 1px 1px 4px 0 variables.$colorGreyPrimary;
  border-radius: 4px;

  h3 {
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    text-decoration: underline variables.$colorTertiary;
  }

  &:first-child ul li::before {
    top: 0.2rem;
    content: url(../../images/icon-arrowGo.svg);
    margin-bottom: 0;
  }

  &:nth-child(2) ul li::before {
    top: 0.6rem;
    content: url(../../images/icon-plus.svg);
    width: 1.8em;
  }

  &:nth-child(3) ul li::before {
    content: url(../../images/icon-voice.svg);
  }

  &:nth-child(2) ul li ul li::before {
    top: 0.2rem;
    content: url(../../images/icon-question.svg);
    width: 1.2em;
    margin-bottom: 0;
  }

  &:nth-child(2) ul li ul li {
    padding-left: 2.5rem;
    font-size: 0.8rem;
  }
}

.attorneyDecision_yes {
  &:before {
    content: url(../../images/icon-thumb-up.svg);
  }
}

.attorneyDecision_no {
  &:before {
    content: url(../../images/icon-thumb-down.svg);
  }
}
