@use "../../styles/settings/variables";

.ageHeader {
  display: flex;
  align-content: space-around;
  align-items: flex-end;
  margin: 2rem 1rem;
  color: variables.$colorBlack;
  @media all and (min-width: 768px) {
    width: 80%;
    margin: 0 auto 2rem;
  }
  &__text {
    margin: 0;
    border-left: solid 0.5rem variables.$colorWhite;
    padding-left: 1em;
    font-weight: 600;
    line-height: 1.35em;
    font-size: 1.2rem;
  }
}

.breakLine {
  display: table;
}

.ageMain {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;

  @media all and (min-width: 768px) {
    width: 80%;
    margin: 0 auto;
  }
}

.ageSection {
  margin: 0;
  color: variables.$colorGreyPrimary;

  &__numbered li::marker {
    padding-left: 1em;
    color: variables.$colorTertiary;
    font-size: 2rem;
    font-weight: 800;
    transform: translateY(1rem);
  }
}

.listIcon::before {
  position: relative;
  top: 0.5rem;
  display: inline-block;
  background-size: contain;
  width: 2.5em;
  height: 2.5em;
  margin: 0.6rem 0.8rem 0.5rem 0;
}

// ICONS IN LIST OF RIGHTS DURING THE PROCESS

.listIcon {
  &__rightTreatedAsMinor::before {
    content: url(../../images/icon-childSupport.svg);
    margin-top: 0;
  }
  &__rightLiveInCenter::before {
    content: url(../../images/icon-home.svg);
  }
  &__rightAssistance::before {
    content: url(../../images/icon-hands.svg);
    top: 0.75rem;
    margin-top: 0.1rem;
  }
  &__rightHealthCare::before {
    content: url(../../images/icon-doctor.svg);
    top: 1rem;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
  }
}
