@use "../../styles/settings/variables";

.atCenterMenuMain {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  padding: 1.5em 1.5em 0 1.5em;
  text-align: center;
  color: variables.$colorWhite;
  overflow-y: scroll;
  &__intro {
    padding: 0.5em;
    margin-bottom: 0.5rem;
    color: variables.$colorGreyPrimary;
    border-radius: 20px;
    background-color: lighten(variables.$colorBrand2, 10%);
  }
  &__menu {
    flex-grow: 0.5;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.3em;
    @media all and (min-width: 768px) {
      gap: 0.5em;
    }
  }
}
