@use "../../styles/settings/variables";

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  &__header {
    padding: 1.5em 1em 0 1em;
  }
  &__main {
    margin-top: 2rem;
  }
  &__intro {
    color: variables.$colorWhite;
  }
  &__img {
    width: 15rem;
    @media all and (min-width: 768px) {
      width: 12rem;
    }
  }
  &__access {
    flex-grow: 1;
    width: 100vw;
    margin-top: 1rem;
    padding: 2em 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    background-color: variables.$colorWhite;
  }
}

.languageBtn {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  padding: 0.5em;
  border: none;
  background-color: transparent;
  color: variables.$colorGreyPrimary;
}
