@use "../../styles/settings/variables";

.content {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.whereYouLiveHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5em 1em 0 1em;
  &__img {
    background-color: variables.$colorWhite;
    box-shadow: 0 0 6px 0 variables.$colorGreyPrimary;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
  }
}

.whereYouLiveMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 2rem 0 2rem 0;
  text-align: center;
  color: variables.$colorWhite;
  flex-grow: 0.5;
}
