@import "../../styles/settings/variables";

.whereYouLiveHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 1.5em 1em 0 1em;
}

.whereYouLiveMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  margin: 2em 0 2em 0;
  color: $colorWhite;
}
