@import "../../styles/settings/variables";

.landingHeader {
  display: flex;
  justify-content: center;
  padding: 1.5em 1em 0 1em;
}

.landingMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.landingIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: $colorWhite;
}

.landingAccess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  width: 100vw;
  background-color: $colorWhite;
}
