@import "../../styles/settings/variables";

.landingMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}

.landingAccess {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  width: 100vw;
  background-color: $colorWhite;
}

.languageBtn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  border: none;
  background-color: transparent;
  color: $colorGreyPrimary;
  font-size: 2em;
}
