@import "../settings/variables";

.btnLink {
  display: block;
  text-align: center;
  min-width: 15em;
  border-radius: 25px;

  margin: 1em;
  padding: 1em 1.5em;
  background-color: $colorBrand2;
  color: $colorGreyPrimary;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    background-color: $colorTertiary;
  }

  &--secondary {
    background-color: $colorTertiary;
    &:hover {
      background-color: darken($colorTertiary, 15%);
    }
  }

  &--nav {
    background-color: transparent;
    display: inline-block;
    color: $colorGreyPrimary;
  }
}

.iconLink {
  color: $colorGreyPrimary;
  background: transparent;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
}
