// COLORS
$colorWhite: #ffffff;
$colorBrand1: #20bf6b;
$colorBrand2: #fed330;
$colorSecondary: #26de81;
$colorTertiary: #f7b731;
$colorGreyPrimary: #666666;
$colorGreySecondary: #999999;

// FONTS
$fontTitles: "Montserrat";
$fontText: "Open Sans";
$fontTertiary: "Merriweather";
