@import "../../styles/settings/variables";

.textLink {
  text-decoration: underline $colorTertiary;
  &:hover {
    border-bottom: solid 1px $colorTertiary;
  }
}

.navLink {
  padding: 1.5rem;
}

.iconLink {
  color: $colorGreyPrimary;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  &:active {
    color: $colorGreySecondary;
  }
}
