@use "../../styles/settings/variables";

.textLink {
  -webkit-text-decoration-line: underline;
  -webkit-text-decoration-color: variables.$colorTertiary;
  text-decoration: underline variables.$colorTertiary 2px;
  &:hover {
    color: variables.$colorTertiary;
  }
}

.navLink {
  padding: 1.5rem;
}

.iconLink {
  color: variables.$colorGreyPrimary;
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  &:active {
    color: variables.$colorGreySecondary;
  }
}
