@use "../../styles/settings/variables";

.btn {
  display: inline-block;
  height: 3.75px;
  background-color: transparent;
  color: variables.$colorGreyPrimary;
  border: none;
  font-size: 3rem;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: variables.$colorGreySecondary;
  }
}

.btnLink {
  display: block;
  text-align: center;
  min-width: 16rem;
  margin: 1rem 2.5rem;
  padding: 1em 1.7em;
  border-radius: 25px;
  background-color: variables.$colorBrand2;
  color: variables.$colorGreyPrimary;
  text-decoration: none;
  font-weight: 700;
  box-shadow: 1px 1px 3px 0 variables.$colorGreyPrimary;
  &:hover {
    background-color: variables.$colorTertiary;
  }

  &--secondary {
    background-color: variables.$colorTertiary;

    &:hover {
      background-color: variables.$colorBrand2;
    }
  }
}
