@import "../../styles/settings/variables";

.btn {
  display: inline-block;
  height: 3.75px;
  background-color: transparent;
  color: $colorGreyPrimary;
  border: none;
  font-size: 3rem;
  padding: 0.5rem;
  &:hover {
    cursor: pointer;
  }
  &:active {
    color: $colorGreySecondary;
  }
}

.btnLink {
  display: block;
  text-align: center;
  min-width: 16rem;
  margin: 0 2.5rem;
  padding: 1em 1.7em;
  border-radius: 25px;
  background-color: $colorBrand2;
  color: $colorGreyPrimary;
  text-decoration: none;
  font-weight: 700;
  &:hover {
    background-color: $colorTertiary;
  }

  &--secondary {
    background-color: $colorTertiary;
    &:hover {
      background-color: $colorBrand2;
    }
  }
}
