@import "../../styles/settings/variables";

.heading {
  font-family: $fontTitles;
  font-size: 3rem;
  letter-spacing: 3px;
  &--primary {
    text-transform: uppercase;
  }
  &--secondary {
    font-size: 2em;
  }
  &--primaryMenu {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 2.5rem;
  }
}
