@import "../../styles/settings/variables";

.img {
  max-width: 80%;
  height: 100%;
  &--whereYouLive {
    color: tomato;
    background-color: $colorWhite;
    box-shadow: 0 0 6px 0 $colorGreyPrimary;
    border-radius: 50%;
    width: 160px;
    height: 160px;
    padding: 3px;
  }
}
