@import "../../styles/settings/variables";

.img {
  &--landing {
    width: 15rem;
    @media all and (min-width: 768px) {
      width: 12rem;
    }
  }
  &--whereYouLive {
    background-color: $colorWhite;
    box-shadow: 0 0 6px 0 $colorGreyPrimary;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
  }
  &--underConstruction {
    height: 60%;
    max-height: 25rem;
  }
  &--age {
    height: 90%;
    max-height: 145px;
  }
}
