@use "../../styles/settings/variables";

.menuSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 20px;
  background-color: variables.$colorBrand1;
  &:hover {
    background-color: darken(variables.$colorSecondary, 15%);
  }
  &:active {
    background-color: variables.$colorSecondary;
  }
}
