@import "../../styles/settings/variables";

.menuSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  min-height: 5.5em;
  font-weight: 600;
  line-height: 1.5rem;
  border-top: 0.1em solid $colorWhite;
  &:hover {
    background-color: darken($colorSecondary, 15%);
  }
  &:active {
    background-color: $colorSecondary;
  }
}
