@import "../../styles/settings/variables";

.title {
  font-family: $fontTitles;
  font-size: 3rem;
  letter-spacing: 3px;
  &--primary {
    text-transform: uppercase;
  }
  &--secondary {
    font-size: 2em;
  }
  // &--tertiary {
  //   font-size: 1rem;
  //   font-family: ;
  //   letter-spacing: initial;
  //   width: 80%;
  //   font-weight: 600;
  // }
  &--primaryMenu {
    text-transform: uppercase;
    letter-spacing: 0;
    font-size: 2.5rem;
  }
}
