@import "../../styles/settings/variables";

.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  &__landing {
    grid-template-rows: 1fr 1fr;
  }
  &__twoRowGrid {
    grid-template-rows: 1fr auto;
    &--white {
      background-color: $colorWhite;
    }
  }
  &__threeRowGrid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto;
  }
}
