@import "../../styles/settings/variables";

.wrapper {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  &--landing {
    grid-template-rows: 1fr 1fr;
  }
  &--whereYouLive {
    grid-template-rows: minmax(17rem, 2fr) minmax(18.5rem, 1fr) 6rem;
  }
  &--centerMenu {
    grid-template-rows: 1fr 6rem;
    background-color: $colorWhite;
  }
}
