@use "../../styles/settings/variables";

.modalContainer {
  position: absolute;
  inset: 1rem;
  overflow: auto;
  padding: 1em;
  -webkit-overflow-scrolling: touch;
  font-size: variables.$fontSmall;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: variables.$colorWhite;
  @media all and (min-width: 768px) {
    inset: 3rem;
    padding: 3em;
  }
  h3 {
    font-size: variables.$fontSmall;
    color: variables.$colorGreyPrimary;
    text-transform: uppercase;
    letter-spacing: -0.03em;
  }
  section > h3 {
    margin: 1.5rem 0 0.5em 0;
  }
}

.sectionTitle {
  font-size: variables.$fontLarge;
  color: variables.$colorGreyPrimary;
  text-transform: uppercase;
}

// -------------- CONTAINER FOR SECTION 1 + 2
.countryWrapper {
  display: grid;
  grid-auto-flow: row;
  margin-bottom: 3rem;
  @media all and (min-width: 768px) {
    grid-auto-flow: column;
  }
}

// -------------- SECTION 1 - COUNTRY NAME + FLAG

.countrySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 120px;
  h2 {
    position: relative;
    top: -1.8em;
    color: variables.$colorBlack;
    font-size: 2.5rem;
    font-family: variables.$fontTitles;
    text-transform: none;
    @media all and (min-width: 768px) {
      font-size: 3.5rem;
      top: -1.8em;
    }
  }
}

.countryFlag {
  width: 6rem;
  opacity: 0.3;
  @media all and (min-width: 768px) {
    width: 8rem;
  }
}

// -------------- SECTION 2 - EMBASSY INFO
.embassySection {
  margin-top: 1rem;
  @media all and (min-width: 768px) {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.embassyList {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 0.3em;
  padding-top: 1rem;
}

// -------------- SECTION 3 - PASSPORT INFO
.passportSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2em;
  padding-top: 1rem;
  h3 {
    padding: 0 0 0.5rem 0;
  }
}

.passportPrice {
  font-size: 1.5rem;
  font-weight: 800;
  color: variables.$colorTertiary;
}

.passportRequirements {
  @media all and (min-width: 768px) {
    grid-column: auto / span 2;
  }
  &__list > li::before {
    position: relative;
    top: 0.1rem;
    display: inline-block;
    width: 1.5em;
    margin: 0.3rem 0.6rem 0.3rem 0.1rem;
    content: url(../../images/icon-arrowGo.svg);
  }
}

.moreInfo {
  @media all and (min-width: 768px) {
    grid-column: auto / span 3;
  }
}

.moreInfoWrapper {
  display: flex;
  justify-items: flex-start;
}

.warningSign {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0.4rem 0.6rem 0 0;
  background-repeat: no-repeat;
  background-image: url(../../images/icon-warning.svg);
}

.moreInfoList {
  display: inline-block;
  line-height: 1.7em;
}
