@import "../../styles/settings/variables";

.modalContainer {
  position: absolute;
  top: 2rem;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1em;
  font-size: $fontSmall;
  background-color: $colorWhite;
  @media all and (min-width: 768px) {
    width: 45%;
    min-width: 510px;
    margin: 5% auto;
  }
  section > h2 {
    font-size: $fontLarge;
    color: $colorGreyPrimary;
    text-transform: uppercase;
  }
  h3 {
    font-size: $fontSmall;
    color: $colorGreyPrimary;
    text-transform: uppercase;
    letter-spacing: -0.05em;
  }
}

.modalLink {
  text-decoration: underline $colorTertiary;
  &:hover {
    border-bottom: solid 1px $colorTertiary;
  }
}

// -------------- SECTION 1 - COUNTRY INFO
.countryContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  min-width: 160px;
  height: 120px;
  margin: 0 auto;
  text-align: center;
}

.countryFlag {
  width: 6rem;
  opacity: 0.3;
}

.countryTitle {
  position: relative;
  top: -1.8em;
  z-index: 1;
  color: $colorBlack;
  font-size: 2.5rem;
  font-family: $fontTitles;
}

// -------------- SECTION 2 - EMBASSY INFO
.embassyContainer {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.embassyList {
  display: grid;
  grid-template-columns: 6rem 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  row-gap: 0.3em;
  padding-top: 1rem;
}

// -------------- SECTION 3 - PASSPORT INFO
.passportSubtitle {
  padding: 1em 0 0.5em 0;
}

.passportPrice {
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 800;
}

.passportRequirements > li::before {
  position: relative;
  top: 0.1rem;
  display: inline-block;
  width: 1.5em;
  margin: 0.3rem 0.6rem 0.3rem 0.1rem;
  content: url(../../images/icon-arrowGo.svg);
}

.moreInfoContainer {
  display: flex;
  align-content: center;
}

.warningSign {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  margin: auto 0.6rem auto 0;
  background-repeat: no-repeat;
  background-image: url(../../images/icon-warning.svg);
}

.moreInfoList {
  display: inline-block;
  line-height: 1.7em;
}
