@import "../../styles/settings/variables";

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // height: max-content;
  align-content: center;
  justify-items: center;
  background-color: $colorWhite;
  box-shadow: 0 0 6px 0 $colorGreyPrimary;
}

.fa-language {
  transform: translate(0, -0.6rem);
  font-size: 2.6rem;
}
