@import "../../styles/settings/variables";

.footer {
  position: sticky;
  bottom: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  grid-row-gap: 0.5rem;
  align-content: center;
  justify-items: center;
  background-color: $colorWhite;
  box-shadow: 0 0 6px 0 $colorGreyPrimary;
  padding: 0.5rem 0;
}

.fa-language {
  transform: translate(0, -0.6rem);
  font-size: 2.6rem;
}

.copy {
  grid-column: span 3;
  font-size: 10px;
}
